# Code ownership information.
# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file


# Common Protection
/.github/CODEOWNERS                       @piquark6046 @Raiden-Ei
/List-KR-Script.user.js                   @piquark6046 @Raiden-Ei
/LICENSE                                  @piquark6046 @Raiden-Ei